body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}

.container {
    display: flex;
}

.kotak-1,
.kotak-2 {
    border-radius: 2%;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin: 20px;
}

.kotak-1 {
    background: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kotak-2 {
    background-color: #141122;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}

.user-info1 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 70px;
    margin-right: 120px;
}

.user-details1 {
    margin-left: 10px;
}

.logo-container1 {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.user-details1 h2 {
    font-size: 12px;
    margin: 0;
}

.user-details1 p {
    font-size: 10px;
    margin: 0;
}

.additional-box {
    border-radius: 6px;
    border: 1px solid #9e9e9e;
    width: 140%; /* Ubah menjadi 100% agar responsif */
    height: 90%;
    margin: 10px;
}

.additional-box hr {
    border: none;
    background-color: #9e9e9e;
    height: 1px;
    width: 100%;
}

.pengaturan {
    display: flex;
    align-items: center;
    padding: 10px;
}

.keterangan-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.keterangan {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.logo-profil-right {
    margin-left: auto;
}


.logo-profil {
    display: flex;
    align-items: center;
}

.lprofil {
    width: 30px;
    height: 30px;
}

.lprofil1 {
    width: 18px;
    height: 28px;
}

.keterangan a {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    text-decoration: none;
}


/*bagian dalam kotak-2*/

/* Add the following styles to your existing CSS file */
.transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
/*    margin-top: 20px;*/
}

.transaction-summary {
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
    color: #fff;
    margin-top: 90px;
}

.wallet-logo {
    height: 80px;
    margin-bottom: 20px;
}

.balance {
    font-weight: bold;
    font-size: 40px;
}

.total-info {
    display: flex;
    align-items: center;
}

.total-masuk,
.total-keluar {
    display: flex;
    align-items: center;
}

.logomasuk,
.logokeluar {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust the margin as needed */
}

.vertical-line {
    height: 40px;
    width: 1px;
    background-color: #fff;
    margin: 0 20px; /* Adjust the margin as needed */
}

.rp-amount {
    font-size: 14px;
    margin: 5px 0;
}

.red-icon,
.green-icon {
    font-size: 45px;
    padding-right: 5px; 
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}

/* Media queries untuk membuat desain responsif */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .kotak-1,
    .kotak-2 {
        width: 80%; /* Sesuaikan dengan lebar yang diinginkan */
        margin: 10px;
    }
}
